html, body {
    height: 100%;
}

body{
    margin: 0px;
    font-family: Muli, sans-serif;
    background-color: #F0F0FA;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}
.accordion-container {
    width: 90vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    /* margin: auto; */
    /* width: 250px; */
    padding-top: 15px;
    gap: 10px;
}

.accordion-collapse {
    background-color: #F0F0FF;
}

.accordion-button {
    background-color: #e7f1ff;
}

/* .control {
    margin-bottom: 10px;
} */


.slider-label {
    width: 200px;
}

.inputBtn, .palBtn, .gridMiddle {
    grid-column: 2 / 3;
    place-self: center;
}

.gridLeft {
    grid-column: 1 / 2;
    place-self: center;
}

.gridRight {
    grid-column: 3 / 4;
    place-self: center;
}

.select-container {
    grid-column: 1 / 4;
    place-self: center;
}

.slider-container {
    grid-column: 1/4;
    place-self: center;
}

.collapseDiv {
    place-self: center;
}

.collapseBtn {
    border: none;
    background-color: inherit;
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    place-self: center;
  }

  .caret {
      width: 1.5rem;
      height: 1.5rem;
      transition: 0.35s ease;
      transform-origin: 50%;
  }

  .rotated {
      transform: rotate(180deg);
  }

  #colourBar {
      width: 100%;
      height: 15px;
      border: black 1px solid;
  }

.colourStop {
    width: 15px;
    height: 15px;
    border: black 1px solid;
}

.activeStop {
    border: blue 3px solid !important;
}

.pointer {
    cursor: pointer;
}