html, body {
    height: 100%;
}

body{
    margin: 0px;
    font-family: Muli, sans-serif;
    background-color: #F0F0FA;
}

/* #container {
    display: flex;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#container {
    display: grid;
    grid-template-columns: 50px 150px 50px;
    margin: auto;
    width: 250px;
    padding-top: 15px;
    gap: 10px;
}

/* .control {
    margin-bottom: 10px;
} */


.slider-label {
    width: 150px;
}

.inputBtn {
    grid-column: 2 / 3;
    place-self: center;
}

.collapseDiv {
    place-self: center;
}

.collapseBtn {
    border: none;
    background-color: inherit;
    /* padding: 14px 28px; */
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    place-self: center;
  }

  .caret {
      width: 1.5rem;
      height: 1.5rem;
      transition: 0.35s ease;
      transform-origin: 50%;
  }

  .rotated {
      transform: rotate(180deg);
  }

